* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  * {
    font-family: 'HelveticaNeueCyr';
    src: url("../Font/HelveticaNeueCyr-Medium.eot");
    src: local("../Font/HelveticaNeueCyr-Medium"), url("../Font/HelveticaNeueCyr-Medium.eot") format("embedded-opentype"), url("../Font/HelveticaNeueCyr-Medium.woff") format("woff"), url("../Font/HelveticaNeueCyr-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
}

@font-face {
  * {
    font-family: 'HelveticaNeueCyr';
    src: url("../Font/HelveticaNeueCyr-Heavy.eot");
    src: local("../Font/HelveticaNeueCyr-Heavy"), url("../Font/HelveticaNeueCyr-Heavy.eot?#iefix") format("embedded-opentype"), url("../Font/HelveticaNeueCyr-Heavy.woff") format("woff"), url("../Font/HelveticaNeueCyr-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }
}

@font-face {
  * {
    font-family: 'HelveticaNeueCyr';
    src: url("../Font/HelveticaNeueCyr-Black.eot");
    src: local("../Font/HelveticaNeueCyr-Black"), url("../Font/HelveticaNeueCyr-Black.eot?#iefix") format("embedded-opentype"), url("../Font/HelveticaNeueCyr-Black.woff") format("woff"), url("../Font/HelveticaNeueCyr-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }
}

@font-face {
  * {
    font-family: 'HelveticaNeueCyr';
    src: url("../Font/HelveticaNeueCyr-UltraLight.eot");
    src: local("../Font/HelveticaNeueCyr-UltraLight"), url("../Font/HelveticaNeueCyr-UltraLight.eot?#iefix") format("embedded-opentype"), url("../Font/HelveticaNeueCyr-UltraLight.woff") format("woff"), url("../Font/HelveticaNeueCyr-UltraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
  }
}

@font-face {
  * {
    font-family: 'HelveticaNeueCyr';
    src: url("../Font/HelveticaNeueCyr-Roman.eot");
    src: local("../Font/HelveticaNeueCyr-Roman"), url("../Font/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../Font/HelveticaNeueCyr-Roman.woff") format("woff"), url("../Font/HelveticaNeueCyr-Roman.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

@font-face {
  * {
    font-family: 'HelveticaNeueCyr';
    src: url("../Font/HelveticaNeueCyr-Bold.eot");
    src: local("../Font/HelveticaNeueCyr-Bold"), url("../Font/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../Font/HelveticaNeueCyr-Bold.woff") format("woff"), url("../Font/HelveticaNeueCyr-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
}

@font-face {
  * {
    font-family: 'HelveticaNeueCyr';
    src: url("../Font/HelveticaNeueCyr-Light.eot");
    src: local("../Font/HelveticaNeueCyr-Light"), url("../Font/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../Font/HelveticaNeueCyr-Light.woff") format("woff"), url("../Font/HelveticaNeueCyr-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
}

@font-face {
  * {
    font-family: 'HelveticaNeueCyr';
    src: url("../Font/HelveticaNeueCyr-Thin.eot");
    src: local("../Font/HelveticaNeueCyr-Thin"), url("../Font/HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"), url("../Font/HelveticaNeueCyr-Thin.woff") format("woff"), url("../Font/HelveticaNeueCyr-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
  }
}

body {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 100%;
  background-image: url(../image/header/main.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__logo {
  width: 200px;
  padding-top: 15px;
  margin-left: -50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav-bar {
  padding-top: 30px;
}

.nav-bar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar__item {
  margin-right: 100px;
  list-style-type: none;
}

.nav-bar__link {
  font-family: 'HelveticaNeueCyr';
  font-size: 16px;
  line-height: 133%;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.nav-bar__link:hover {
  color: #ff9100;
  border-bottom: 1px solid #ff9100;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-container__text-block {
  padding-top: 180px;
  padding-left: 175px;
}

.header-container__title {
  font-family: 'HelveticaNeueCyr';
  font-weight: 900;
  font-size: 62px;
  line-height: 124%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header-container__text {
  font-family: 'HelveticaNeueCyr';
  padding-top: 25px;
  font-size: 18px;
  line-height: 176.8%;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.9);
}

.box-btn {
  padding-top: 65px;
}

.btn-learn {
  width: 160px;
  height: 53px;
  background: #ffffff00;
  border: 1px solid white;
  border-radius: 8px;
  font-family: 'HelveticaNeueCyr';
  font-weight: bold;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin-right: 12px;
}

.btn-market {
  width: 160px;
  height: 53px;
  background: #ffffff00;
  border-radius: 8px;
  border: 1px solid white;
  font-family: 'HelveticaNeueCyr';
  font-weight: bold;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.btn-learn:hover {
  background: #ffffff;
  color: #1E3C72;
}

.btn-market:hover {
  background: #ffffff;
  color: #1E3C72;
}

.main-slide {
  width: 50%;
  height: 100vh;
  position: relative;
  padding-top: 2%;
}

.main-slide .slick-slider {
  min-width: 0;
}

.main-slide .slick-list {
  overflow: hidden;
}

.main-slide .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-slide .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-slide .slick-dots li {
  list-style: none;
  margin: 30px 10px;
}

.main-slide .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 50%;
}

.main-slide .slick-dots li.slick-active button {
  background-color: #00000000;
  border: 1px solid white;
}

.main-slide__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-slide__title {
  width: 50%;
  color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(57%, rgba(64, 142, 48, 0.904)), to(#fefefe));
  background: linear-gradient(90deg, rgba(64, 142, 48, 0.904) 57%, #fefefe 100%);
  padding: 5px 0 5px 100px;
  position: relative;
  left: 1rem;
  top: 3rem;
  z-index: 2;
}

.main-slide__item-conteiner {
  width: 70%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.main-slide__slogan {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  padding-top: 15px;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #747474;
}

.main-slide__subslogan {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  padding-top: 8px;
  font-weight: 550;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.03em;
  color: #202020;
}

.main-slide__middle-img {
  -o-object-fit: cover;
     object-fit: cover;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.main-slide__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-slide__link {
  font-size: 14px;
  z-index: 4;
}
/*# sourceMappingURL=style.css.map */