@import url("http://fonts.cdnfonts.com/css/helveticaneuecyr-2");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 100%;
  background-image: url(../image/header/main.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 150px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__logo {
  max-width: 200px;
  padding-top: 20px;
  margin-left: -100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav-bar {
  padding-top: 40px;
}

.nav-bar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar__item {
  margin-right: 100px;
  list-style-type: none;
}

.nav-bar__link {
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 16px;
  line-height: 133%;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.nav-bar__link:hover {
  color: #ff9100;
  border-bottom: 1px solid #ff9100;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-container__text-block {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 180px;
  padding-left: 30px;
}

.header-container__title {
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-weight: 900;
  font-size: 62px;
  line-height: 124%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header-container__text {
  font-family: 'HelveticaNeueCyr', sans-serif;
  padding-top: 25px;
  font-size: 18px;
  line-height: 176.8%;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.9);
}

.box-btn {
  padding-top: 65px;
}

.btn-learn {
  width: 160px;
  height: 53px;
  background: #ffffff00;
  border: 1px solid white;
  border-radius: 8px;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin-right: 12px;
  cursor: pointer;
}

.btn-market {
  width: 160px;
  height: 53px;
  background: #ffffff00;
  border-radius: 8px;
  border: 1px solid white;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.btn-learn:hover {
  background: #ffffff;
  color: #1E3C72;
}

.btn-market:hover {
  background: #ffffff;
  color: #1E3C72;
}

.main-slide {
  max-width: 620px;
  position: relative;
  padding-top: 5%;
}

.main-slide .slick-slider {
  min-width: 0;
}

.main-slide .slick-list {
  overflow: hidden;
}

.main-slide .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-slide .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-slide .slick-dots li {
  list-style: none;
  margin: 30px 10px;
}

.main-slide .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.main-slide .slick-dots li.slick-active button {
  background-color: #00000000;
  border: 1px solid white;
}

.main-slide__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main-slide__title {
  width: 50%;
  color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(57%, rgba(64, 142, 48, 0.904)), to(#fefefe));
  background: linear-gradient(90deg, rgba(64, 142, 48, 0.904) 57%, #fefefe 100%);
  padding: 5px 0 5px 100px;
  position: relative;
  left: 1rem;
  top: 3rem;
  z-index: 2;
}

.main-slide__item-conteiner {
  width: 70%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.main-slide__slogan {
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-style: normal;
  padding-top: 15px;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #747474;
}

.main-slide__subslogan {
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-style: normal;
  padding-top: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.03em;
  color: #202020;
}

.main-slide__middle-img {
  -o-object-fit: cover;
     object-fit: cover;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.main-slide__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-slide__link {
  font-size: 14px;
  z-index: 4;
}

.second-block {
  width: 100%;
  height: 900px;
  background-color: white;
  z-index: 1;
}

.second-block__conteiner {
  max-width: 920px;
  height: 550px;
  margin: 0 auto;
  position: relative;
  top: 150px;
  left: 50px;
  background-color: white;
  -webkit-box-shadow: 5px 6px 43px rgba(30, 60, 114, 0.3);
          box-shadow: 5px 6px 43px rgba(30, 60, 114, 0.3);
  border-radius: 8px;
  z-index: 2;
}

.second-block__contant {
  max-width: 500px;
  margin: 0 auto;
  z-index: 3;
}

.second-block__title {
  padding-top: 100px;
  padding-bottom: 16px;
  padding-left: 65px;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 133%;
  color: #1E3C72;
}

.second-block__subtitle {
  padding-left: 65px;
  padding-bottom: 22px;
  font-family: ' HelveticaNeueCyr', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #1E3C72;
}

.second-block__text {
  padding-left: 65px;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 14px;
  color: #2A5298;
}

.second-block__img-rob {
  max-width: 240px;
  position: absolute;
  top: -120px;
  left: 0px;
}

.second-block__img-dot {
  max-width: 235px;
  position: absolute;
  top: 120px;
  right: 100px;
}

.second-block__img {
  position: relative;
  top: -520px;
}

.three-block {
  width: 100%;
  height: 470px;
  background-image: url(../image/main/star.png);
  background-repeat: no-repeat;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.three-block__title {
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 167%;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 50px;
}

.center-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.three-block__img {
  max-width: 600px;
}

.three-block-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.three-block-line__l-line {
  width: 400px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.5);
}

.three-block-line__text {
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 167%;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  margin: 0 50px;
}

.three-block-line__r-line {
  width: 400px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.5);
}

.three-block-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.three-block-btn__btn {
  width: 447px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 80px;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #ffffff00;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.three-block-btn__btn:hover {
  border: 1px solid rgba(255, 255, 255, 0);
  color: #1100ff;
  background-color: #ffffff;
}

.four-block {
  width: 100%;
  height: 100%;
  background-color: white;
}

.four-block__title {
  font-family: 'HelveticaNeueCyr', serif;
  text-align: center;
  font-weight: 900;
  font-size: 48px;
  color: #1E3C72;
  padding-top: 25px;
  padding-bottom: 25px;
}

.four-block__hr-line {
  max-width: 1100px;
  margin: 0 auto;
  border: 0.5px solid #CCCCCC;
}

.slide-little {
  max-width: 620px;
  margin: 0 auto;
  position: relative;
  padding-top: 25px;
}

.slide-little .slick-slider {
  min-width: 0;
}

.slide-little .slick-list {
  overflow: hidden;
}

.slide-little .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slide-little .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide-little .slick-dots li {
  list-style: none;
  margin: 30px 10px;
}

.slide-little .slick-arrow {
  position: absolute;
  top: 35%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.slide-little .slick-arrow.slick-next {
  right: -50px;
  background: url(../image/main/Vector2.svg) no-repeat;
}

.slide-little .slick-arrow.slick-prev {
  left: -30px;
  background: url(../image/main/Vector.svg) no-repeat;
}

.slide-little__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.slide-little__item-conteiner {
  width: 100%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
}

.slide-little__middle-img {
  -o-object-fit: cover;
     object-fit: cover;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.slide-little__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide-little__link {
  font-size: 14px;
  z-index: 4;
}

.slide-little__btn {
  width: 38px;
  height: 100%;
  position: relative;
  top: -45px;
  left: 30px;
  background: -webkit-gradient(linear, right top, left top, from(#BB52C9), to(#35519C));
  background: linear-gradient(270deg, #BB52C9 0%, #35519C 100%);
  border-radius: 40px;
  cursor: pointer;
  padding: 5px 3px 3px 9px;
  border: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.slide-little__btn2 {
  width: 35px;
  height: 100%;
  position: relative;
  top: -45px;
  left: 45px;
  background: -webkit-gradient(linear, right top, left top, from(#BB52C9), to(#35519C));
  background: linear-gradient(270deg, #BB52C9 0%, #35519C 100%);
  border-radius: 40px;
  cursor: pointer;
  padding: 5px 5px 0px 8px;
  border: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.slide-little__btn3 {
  width: 35px;
  height: 100%;
  position: relative;
  top: -75px;
  left: 5px;
  background: -webkit-gradient(linear, right top, left top, from(#BB52C9), to(#35519C));
  background: linear-gradient(270deg, #BB52C9 0%, #35519C 100%);
  border-radius: 40px;
  cursor: pointer;
  padding: 5px 5px 3px 10px;
  border: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.four-block-contant {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../image/main/bg2.png);
  background-repeat: no-repeat;
}

.four-block-contant__img {
  width: 100%;
  height: 100%;
}

.four-block-contant__image {
  width: 600px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  top: -90px;
  left: 200px;
}

.four-block-contant-section {
  max-width: 380px;
  margin-right: 150px;
}

.four-block-contant-section__title {
  font-family: 'HelveticaNeueCyr', serif;
  font-weight: bold;
  font-size: 24px;
  color: #1E3C72;
  padding-top: 60px;
  padding-bottom: 6px;
}

.four-block-contant-section__subtitle {
  font-family: 'HelveticaNeueCyr', serif;
  font-size: 18px;
  color: #1E3C72;
  padding-bottom: 10px;
}

.four-block-contant-section__text {
  font-family: 'HelveticaNeueCyr', serif;
  font-size: 14px;
  color: #375D9F;
}

.four-block-contant-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.four-block-contant-btn__first {
  width: 80px;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#BB52C9), to(#35519C));
  background: linear-gradient(270deg, #BB52C9 0%, #35519C 100%);
  border-radius: 8px;
  cursor: pointer;
  padding: 5px;
  border: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.four-block-contant-btn__first:hover {
  background: -webkit-gradient(linear, right top, left top, to(#35519C));
  background: linear-gradient(270deg, #35519C 100%);
  -webkit-box-shadow: 5px 5px 5px #8d8d8d;
          box-shadow: 5px 5px 5px #8d8d8d;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.four-block-contant-btn__first:active {
  background: -webkit-gradient(linear, right top, left top, to(#BB52C9));
  background: linear-gradient(270deg, #BB52C9 100%);
  -webkit-box-shadow: 2px 2px 2px #8d8d8d;
          box-shadow: 2px 2px 2px #8d8d8d;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@-webkit-keyframes move_eye {
  from {
    margin-left: -20%;
  }
  to {
    margin-left: 100%;
  }
}

@keyframes move_eye {
  from {
    margin-left: -20%;
  }
  to {
    margin-left: 100%;
  }
}

.four-block-contant-btn__second {
  width: 80px;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#BB52C9), to(#35519C));
  background: linear-gradient(270deg, #BB52C9 0%, #35519C 100%);
  border-radius: 8px;
  cursor: pointer;
  padding: 5px;
  border: none;
  margin-left: 10px;
}

.four-block-contant-btn__second:hover {
  background: -webkit-gradient(linear, right top, left top, to(#BB52C9));
  background: linear-gradient(270deg, #BB52C9 100%);
  -webkit-box-shadow: 5px 5px 5px #8d8d8d;
          box-shadow: 5px 5px 5px #8d8d8d;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.four-block-contant-btn__second:active {
  background: -webkit-gradient(linear, right top, left top, to(#35519C));
  background: linear-gradient(270deg, #35519C 100%);
  -webkit-box-shadow: 2px 2px 2px #8d8d8d;
          box-shadow: 2px 2px 2px #8d8d8d;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/*# sourceMappingURL=style.css.map */