.three-block {
  width: 100%;
  height: 470px;
  background-image: url(../image/main/star.png);
  background-repeat: no-repeat;
  box-sizing: content-box;
}

.three-block__title { 
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 167%;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 50px;
}

.center-img {
  display: flex;
  justify-content: center;
}

.three-block__img { 
  max-width: 600px;
}

.three-block-line {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.three-block-line__l-line {
  width: 400px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.5);
}

.three-block-line__text { 
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 167%;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  margin: 0 50px;
}

.three-block-line__r-line {
  width: 400px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.5);
}

.three-block-btn {
  display: flex;
  justify-content: center;
}

.three-block-btn__btn { 
  width: 447px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 80px;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #ffffff00;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.three-block-btn__btn:hover { 
  border: 1px solid rgba(255, 255, 255, 0);
  color: #1100ff;
  background-color: #ffffff;
}